$color__background-body:     #ffffff;
$color__background-screen:   #f1f1f1;
$color__background-hr:       #dde4e6;
$color__background-input:    #ffffff;
$color__background-pre:      #eee;

$color__bg-preloader-cover:  #ffffff;

$color__text-screen:         #21759b;
$color__text-input:          #666;

$color__white:               #ffffff;
$color__dark:                #000000;

$color__border-button:       #E0E0E2;
$color__border-input:        #ECECEE;
$color__border-abbr:         #666;
$color__border-table:        $color__background-hr;
$color__border-pre:          darken( $color__background-pre, 10% );

$color__not-valid:           #e01717;
$color__valid:               #42c514;
$subscribe-color__not-valid: #a20014;
$subscribe-color__valid:     #42f551;

$event2nColor: #1997de;
$event3nColor: #33cea5;

$team1nColor: #33cea5;
$team2nColor: #1997de;
$team3nColor: #ff1631;
